## Configuration file for a typical Tor user
## Last updated 16 July 2009 for Tor 0.2.2.1-alpha.
## (May or may not work for much older or much newer versions of Tor.)
##
## Lines that begin with "## " try to explain what's going on. Lines
## that begin with just "#" are disabled commands: you can enable them
## by removing the "#" symbol.
##
## See 'man tor', or https://www.torproject.org/tor-manual.html,
## for more options you can use in this file.
##
## Tor will look for this file in various places based on your platform:
## https://wiki.torproject.org/noreply/TheOnionRouter/TorFAQ#torrc


SocksPort 9050 # what port to open for local application connections
ControlPort 9051
SocksListenAddress 0.0.0.0 # accept connections only from localhost
DataDirectory $dir$/tor/
User root
#SocksPolicy accept 192.168.0.0/16
#SocksPolicy reject *

Log notice file $dir$/notices.log
#Log debug file /var/log/tor/debug.log
#Log notice syslog
#Log debug stderr

RunAsDaemon 0

#DataDirectory /var/lib/tor

CookieAuthentication 0

HiddenServiceDir $dir$
HiddenServicePort 11000 127.0.0.1:11000

PidFile $dir$/tor.pid
